.version.about /* version checker */
{
	color: #0000E2;
	background-color: #98E0F6;
}

.html
{
	background-color: #FFF9F8;
}

#page
{
	z-index: 1;
	width: 1150px;
	min-height: 550px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -7px;
	margin-bottom: -17px;
}

#pu212
{
	width: 0.01px;
	margin-left: -100px;
}

#u212
{
	z-index: 2;
	height: 46px;
}

#u212-bw
{
	z-index: 2;
	margin-bottom: -1px;
	height: 48px;
}

#menuu148
{
	z-index: 3;
}

#u149
{
	width: 336px;
	min-height: 34px;
	margin-right: -10000px;
}

#u150
{
	width: 336px;
	padding-bottom: 17px;
}

#u150:hover
{
	margin: 0px;
}

#u150:active
{
	margin: 0px;
}

#u151-4
{
	width: 336px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u150:hover #u151-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u150:active #u151-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u156
{
	width: 336px;
	min-height: 34px;
	margin-right: -10000px;
	left: 338px;
}

#u159
{
	width: 336px;
	padding-bottom: 17px;
}

#u150.MuseMenuActive,#u159:hover
{
	margin: 0px;
}

#u159:active
{
	margin: 0px;
}

#u161-4
{
	width: 336px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u150.MuseMenuActive #u151-4,#u159:hover #u161-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u159:active #u161-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u163
{
	width: 336px;
	min-height: 34px;
	margin-right: -10000px;
	left: 676px;
}

#u166
{
	width: 336px;
	padding-bottom: 17px;
}

#u159.MuseMenuActive,#u166:hover
{
	margin: 0px;
}

#u166:active
{
	margin: 0px;
}

#u168-4
{
	width: 336px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u159.MuseMenuActive #u161-4,#u166:hover #u168-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u166:active #u168-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u790
{
	width: 336px;
	min-height: 34px;
	margin-right: -10000px;
	left: 1014px;
}

#u791
{
	width: 336px;
	padding-bottom: 17px;
}

#u166.MuseMenuActive,#u791:hover
{
	margin: 0px;
}

#u791:active
{
	margin: 0px;
}

#u791.MuseMenuActive
{
	margin: 0px;
}

#u792-4
{
	width: 336px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u166.MuseMenuActive #u168-4,#u791:hover #u792-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u791:active #u792-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u791.MuseMenuActive #u792-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#menuu148-bw
{
	z-index: 3;
	margin-top: 7px;
	height: 34px;
}

#slideshowu180
{
	z-index: 33;
	width: 0.01px;
	height: 241px;
	left: -100px;
	position: relative;
}

#u181
{
	position: absolute;
	width: 1350px;
	height: 241px;
	background-color: transparent;
}

#u181popup
{
	z-index: 34;
}

#u182
{
	z-index: 35;
	width: 1350px;
	height: 241px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1472
{
	z-index: 37;
	width: 1350px;
	height: 241px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1486
{
	z-index: 39;
	width: 1350px;
	height: 241px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u566-4
{
	z-index: 105;
	width: 669px;
	min-height: 154px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	margin-left: 306px;
	top: -166px;
	margin-bottom: -154px;
	position: relative;
}

#u214-4
{
	z-index: 41;
	width: 1334px;
	min-height: 81px;
	background-color: transparent;
	font-size: 14px;
	left: -92px;
	margin-top: 7px;
	position: relative;
}

#slideshowu247
{
	z-index: 45;
	width: 0.01px;
	height: 237px;
	left: -78px;
	margin-top: 8px;
	position: relative;
}

#u248popup
{
	z-index: 46;
}

#u375
{
	z-index: 47;
	width: 334px;
	height: 237px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u375_img
{
	padding-left: 7px;
}

#puntitled
{
	width: 0.01px;
	margin-left: 89px;
	margin-top: -202px;
}

#untitled
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 55px;
}

#u280-4
{
	z-index: 49;
	width: 950px;
	min-height: 119px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	left: 167px;
}

#pu281-4
{
	width: 0.01px;
	margin-left: 222px;
	margin-top: -77px;
}

#u281-4
{
	z-index: 53;
	width: 347px;
	min-height: 52px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 51px;
}

#u282-5
{
	z-index: 57;
	width: 181px;
	min-height: 68px;
	background-color: transparent;
	line-height: 58px;
	font-size: 48px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
}

#slideshowu317
{
	z-index: 75;
	width: 0.01px;
	height: 244px;
	margin-left: 881px;
	position: relative;
}

#u318
{
	position: absolute;
	width: 342px;
	height: 244px;
	background-color: transparent;
}

#u318popup
{
	z-index: 76;
}

#u319
{
	z-index: 77;
	width: 342px;
	height: 244px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u319:hover
{
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	margin: 0px -10000px 0px 0px;
}

#untitled3
{
	margin-left: 1033px;
	top: -140px;
	margin-bottom: -18px;
	position: relative;
}

#pu367-4
{
	width: 0.01px;
	margin-left: 575px;
	margin-top: -93px;
}

#u367-4
{
	z-index: 79;
	width: 302px;
	min-height: 52px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
}

#u369-5
{
	z-index: 83;
	width: 71px;
	min-height: 60px;
	background-color: transparent;
	line-height: 58px;
	font-size: 48px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 275px;
}

#slideshowu493
{
	z-index: 88;
	width: 0.01px;
	height: 237px;
	left: -76px;
	margin-top: 20px;
	position: relative;
}

#u248,#u494
{
	position: absolute;
	width: 334px;
	height: 237px;
	background-color: transparent;
}

#u494popup
{
	z-index: 89;
}

#u519
{
	z-index: 90;
	width: 334px;
	height: 237px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u375:hover,#u519:hover
{
	opacity: 0.61;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=61)";
	filter: alpha(opacity=61);
	margin: 0px -10000px 0px 0px;
}

#u519_img
{
	padding-top: 8px;
	padding-right: 2px;
}

#pu509-4
{
	width: 0.01px;
	margin-left: 106px;
	margin-top: -155px;
}

#u509-4
{
	z-index: 92;
	width: 950px;
	min-height: 119px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	left: 131px;
}

#u510-4
{
	z-index: 96;
	width: 347px;
	min-height: 52px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	left: 169px;
}

#u511-5
{
	z-index: 100;
	width: 181px;
	min-height: 68px;
	background-color: transparent;
	line-height: 58px;
	font-size: 48px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
	left: 87px;
}

#u282,#u369-2,#u511
{
	color: #FFFFFF;
}

#u511-2
{
	color: #0D1200;
}

#untitled2
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 18px;
}

#u283-13
{
	z-index: 62;
	width: 927px;
	min-height: 137px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	margin-left: 211px;
	top: -511px;
	margin-bottom: -137px;
	position: relative;
}

#u1443
{
	z-index: 32;
	width: 291px;
	min-height: 39px;
	margin-left: 959px;
	margin-top: 15px;
}

#u177-4
{
	z-index: 28;
	width: 227px;
	min-height: 13px;
	left: -75px;
	margin-top: 8px;
}

body
{
	position: relative;
	min-width: 1150px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

