.version.index /* version checker */
{
	color: #00001B;
	background-color: #B331DF;
}

.html
{
	background-color: #FFE1E0;
}

#page
{
	z-index: 1;
	width: 1150px;
	min-height: 549.9px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -7px;
	margin-bottom: -17px;
}

#pu212
{
	width: 0.01px;
	margin-left: -100px;
}

#u212
{
	z-index: 2;
	height: 46px;
}

#u212-bw
{
	z-index: 2;
	margin-bottom: -1px;
	height: 48px;
}

#menuu148
{
	z-index: 3;
}

#u149
{
	width: 336px;
	min-height: 34px;
	margin-right: -10000px;
}

#u150
{
	width: 336px;
	padding-bottom: 17px;
}

#u150:hover
{
	margin: 0px;
}

#u150:active
{
	margin: 0px;
}

#u151-4
{
	width: 336px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u150:hover #u151-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u150:active #u151-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u156
{
	width: 336px;
	min-height: 34px;
	margin-right: -10000px;
	left: 338px;
}

#u159
{
	width: 336px;
	padding-bottom: 17px;
}

#u150.MuseMenuActive,#u159:hover
{
	margin: 0px;
}

#u159:active
{
	margin: 0px;
}

#u161-4
{
	width: 336px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u150.MuseMenuActive #u151-4,#u159:hover #u161-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u159:active #u161-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u163
{
	width: 336px;
	min-height: 34px;
	margin-right: -10000px;
	left: 676px;
}

#u166
{
	width: 336px;
	padding-bottom: 17px;
}

#u159.MuseMenuActive,#u166:hover
{
	margin: 0px;
}

#u166:active
{
	margin: 0px;
}

#u168-4
{
	width: 336px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u159.MuseMenuActive #u161-4,#u166:hover #u168-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u166:active #u168-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u790
{
	width: 336px;
	min-height: 34px;
	margin-right: -10000px;
	left: 1014px;
}

#u791
{
	width: 336px;
	padding-bottom: 17px;
}

#u166.MuseMenuActive,#u791:hover
{
	margin: 0px;
}

#u791:active
{
	margin: 0px;
}

#u791.MuseMenuActive
{
	margin: 0px;
}

#u792-4
{
	width: 336px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u166.MuseMenuActive #u168-4,#u791:hover #u792-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u791:active #u792-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u791.MuseMenuActive #u792-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#menuu148-bw
{
	z-index: 3;
	margin-top: 7px;
	height: 34px;
}

#u179-4
{
	z-index: 41;
	width: 633px;
	min-height: 35px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	margin-left: 299px;
	margin-top: 18px;
	position: relative;
}

#slideshowu89
{
	z-index: 33;
	width: 0.01px;
	height: 360px;
	left: -100px;
	margin-top: 11px;
	position: relative;
}

#u106
{
	position: absolute;
	width: 1350px;
	height: 360px;
	background-color: transparent;
}

#u106popup
{
	z-index: 34;
}

#u111
{
	z-index: 35;
	width: 1350px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1506
{
	z-index: 37;
	width: 1350px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1515
{
	z-index: 39;
	width: 1350px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1443
{
	z-index: 32;
	width: 291px;
	min-height: 39px;
	margin-left: 959px;
	margin-top: 85px;
}

#u177-4
{
	z-index: 28;
	width: 227px;
	min-height: 13px;
	left: -75px;
	margin-top: 8px;
}

body
{
	position: relative;
	min-width: 1150px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

