.version.untitled_8 /* version checker */
{
	color: #000001;
	background-color: #DA8598;
}

.html
{
	background-color: #FFE1E0;
}

#page
{
	z-index: 1;
	width: 1150px;
	min-height: 550px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -7px;
	margin-bottom: -17px;
}

#pu212
{
	width: 0.01px;
	margin-left: -100px;
}

#u212
{
	z-index: 2;
	height: 46px;
}

#u212-bw
{
	z-index: 2;
	margin-bottom: -1px;
	height: 48px;
}

#menuu148
{
	z-index: 3;
}

#u149
{
	width: 336px;
	min-height: 34px;
	margin-right: -10000px;
}

#u150
{
	width: 336px;
	padding-bottom: 17px;
}

#u150:hover
{
	margin: 0px;
}

#u150:active
{
	margin: 0px;
}

#u151-4
{
	width: 336px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u150:hover #u151-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u150:active #u151-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u156
{
	width: 336px;
	min-height: 34px;
	margin-right: -10000px;
	left: 338px;
}

#u159
{
	width: 336px;
	padding-bottom: 17px;
}

#u150.MuseMenuActive,#u159:hover
{
	margin: 0px;
}

#u159:active
{
	margin: 0px;
}

#u161-4
{
	width: 336px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u150.MuseMenuActive #u151-4,#u159:hover #u161-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u159:active #u161-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u163
{
	width: 336px;
	min-height: 34px;
	margin-right: -10000px;
	left: 676px;
}

#u166
{
	width: 336px;
	padding-bottom: 17px;
}

#u159.MuseMenuActive,#u166:hover
{
	margin: 0px;
}

#u166:active
{
	margin: 0px;
}

#u168-4
{
	width: 336px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u159.MuseMenuActive #u161-4,#u166:hover #u168-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u166:active #u168-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u790
{
	width: 336px;
	min-height: 34px;
	margin-right: -10000px;
	left: 1014px;
}

#u791
{
	width: 336px;
	padding-bottom: 17px;
}

#u166.MuseMenuActive,#u791:hover
{
	margin: 0px;
}

#u791:active
{
	margin: 0px;
}

#u791.MuseMenuActive
{
	margin: 0px;
}

#u792-4
{
	width: 336px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u166.MuseMenuActive #u168-4,#u791:hover #u792-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u791:active #u792-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u791.MuseMenuActive #u792-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#menuu148-bw
{
	z-index: 3;
	margin-top: 7px;
	height: 34px;
}

#u844-4
{
	z-index: 33;
	width: 332px;
	min-height: 79px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	margin-left: 409px;
	margin-top: 12px;
	position: relative;
}

#pu943-4
{
	width: 0.01px;
	margin-left: 469px;
	margin-top: 10px;
}

#u943-4
{
	z-index: 49;
	width: 82px;
	min-height: 24px;
	background-color: transparent;
	color: #1800C2;
	position: relative;
	margin-right: -10000px;
}

#u943-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u943-4.MuseLinkActive p
{
	color: #1800C2;
	visibility: inherit;
}

#untitled
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 23px;
}

#u945-4
{
	z-index: 54;
	width: 72px;
	min-height: 9px;
	background-color: transparent;
	color: #180000;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 76px;
}

#untitled2
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 112px;
}

#u947-4
{
	z-index: 59;
	width: 86px;
	min-height: 12px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 139px;
}

#untitled3
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 182px;
}

#slideshowu845
{
	z-index: 37;
	width: 0.01px;
	height: 171px;
	left: -35px;
	margin-top: 9px;
	position: relative;
}

#u846popup
{
	z-index: 38;
}

#u849
{
	z-index: 39;
	width: 258px;
	height: 171px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u849_img
{
	padding-left: 35px;
	padding-right: 32px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#slideshowu879
{
	z-index: 41;
	width: 0.01px;
	height: 171px;
	margin-left: 443px;
	top: -171px;
	margin-bottom: -171px;
	position: relative;
}

#u880popup
{
	z-index: 42;
}

#u883
{
	z-index: 43;
	width: 258px;
	height: 171px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u883_img
{
	margin-top: -36px;
	margin-bottom: -157px;
}

#slideshowu911
{
	z-index: 45;
	width: 0.01px;
	height: 171px;
	margin-left: 900px;
	top: -171px;
	margin-bottom: -171px;
	position: relative;
}

#u912popup
{
	z-index: 46;
}

#u915
{
	z-index: 47;
	width: 258px;
	height: 171px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u915_img
{
	padding-left: 8px;
}

#slideshowu955
{
	z-index: 63;
	width: 0.01px;
	height: 171px;
	left: -35px;
	margin-top: 83px;
	position: relative;
}

#u963popup
{
	z-index: 64;
}

#u964
{
	z-index: 65;
	width: 258px;
	height: 171px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u883_clip,#u964_clip
{
	overflow: hidden;
	width: 258px;
	height: 171px;
}

#u964_img
{
	margin-top: -11px;
	margin-bottom: -12px;
}

#slideshowu973
{
	z-index: 67;
	width: 0.01px;
	height: 171px;
	margin-left: 443px;
	top: -171px;
	margin-bottom: -171px;
	position: relative;
}

#u981popup
{
	z-index: 68;
}

#u982
{
	z-index: 69;
	width: 258px;
	height: 171px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#slideshowu991
{
	z-index: 71;
	width: 0.01px;
	height: 171px;
	margin-left: 900px;
	top: -171px;
	margin-bottom: -171px;
	position: relative;
}

#u846,#u880,#u912,#u963,#u981,#u999
{
	position: absolute;
	width: 258px;
	height: 171px;
	background-color: transparent;
}

#u999popup
{
	z-index: 72;
}

#u1000
{
	z-index: 73;
	width: 258px;
	height: 171px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1443
{
	z-index: 32;
	width: 291px;
	min-height: 39px;
	margin-left: 959px;
	margin-top: 15px;
}

#u177-4
{
	z-index: 28;
	width: 227px;
	min-height: 13px;
	left: -75px;
	margin-top: 8px;
}

body
{
	position: relative;
	min-width: 1150px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

